body {
    font-family: "Lato", sans-serif;
}


#navbar {
  overflow: hidden;  
  background-color: #fff!important;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.481), 0 2px 10px 0 rgba(0,0,0,0.12)
}

#navbar a {
  float: right;
  display: block;
  color: black;
  text-align: center;
  padding: 14px 1px;
  text-decoration: none;
  font-size: 17px;
}

#navbar a:hover {
  background-color: #ddd;
  color: black;
}

#navbar a.active {
  background-color: grey;
  color: white;
}

.content {
  padding: 0px;
}


#navvbar {
    overflow: hidden;  
    background-color: #fff!important;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.481), 0 2px 10px 0 rgba(0,0,0,0.12)
  }
  
  #navvbar a {
    float: right;
    display: block;
    color: black;
    text-align: center;
    padding: 12px 14px;
    text-decoration: none;
    font-size: 15px;
  }
  .center{
    position: center;


}
  #navvbar a:hover {
      background-color: rgba(60, 16, 0, 0.756);
      color: white;
      -ms-transform: scale(1.5); 
      -webkit-transform: scale(1.05); 
      transform: scale(1.05);
    }


#navbar {
    margin-top: 1%;
    width: 60%;
    margin-left:20%;
    text-align:center;
    overflow: hidden;
    background-color: #fff!important;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.481), 0 2px 10px 0 rgba(0,0,0,0.12)
    }
    
#navbar a {
    float: right;
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    margin-left: 6px; 

}
#navbar a:hover {
    background-color: rgb(128, 10, 22);
    color: white;
    -ms-transform: scale(1.5); 
    -webkit-transform: scale(1.05); 
    transform: scale(1.05);
}


img {
    /* margin-top: 30px; */
    border-radius: 5px 5px 0 0;
    height: 100%;
}

.container {
    padding: 2px 16px;
    margin-left: 5%;
    margin-right: 8%;
    margin-top: 20px;
}



* {
    box-sizing: border-box;
}
img {
    /* margin-top: 30px; */
    border-radius: 5px 5px 0 0;
    width:60%;
     height:160px;
    }

.colum {
    float: right;
    width: 33.33%;
    padding: 10px;
    height: 400px;
    font-size: 90%;
    color: black;
    
}

* {
    box-sizing: border-box;
}

.column {
    margin-top: 2%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.789);
    height: 194px;
    opacity: 0.9px;
    padding: 7px;
    background-color: rgba(230, 115, 73, 0.434);
}
.row:after {
    content: "";
    display: table;
    clear: both;
}

table {
    margin-top: 5%;

    border-collapse: collapse;
}

table, td, th {
    border: 1px solid black;
}
#tablee {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    margin-left: 6%;
    width: 90%;
}

#tablee td, #tablee th {
    border: 1px solid grey;
    padding: 8px;
    background-color: white;
}

#tablee tr:nth-child(even){background-color: white;}

#tablee tr:hover {background-color: white;}

#tablee th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: rgba(188, 88, 52, 0.434);
    color: white;
}

.display{
    color:black;
    size: 50px; 
}

.output{
    margin-left: 40%;
    width: 20%;
    text-align: center;
    color:black;
    align-content: center;
    border: 1px solid black;
    border-radius: 6px;
    opacity: 0.6;
    border: solid 1px rgb(46, 42, 42);
    background: #FFFFFF;
    overflow: hidden
  }

.hidden{
display: None;
}

.hiddenmode{
    display: inline;
    }

h3 {
font-size: 1.5em;
font-size: 15px;
text-transform: uppercase;
}


#food{
    position: fixed;
    top: 18%;
    left: 39%;
    width: 30%;
    overflow: hidden;
    text-align: center;
    background-color: white;
}

#myInput{
    margin: auto;
    width: 12%;
}

.topnav a.active {
    background-color: #2196F3;
    color: white;
}

/* Style the search box inside the navigation bar */
.topnav input[type=text] {
    float: right;
    padding: 6px;
    border: none;
    margin-top: 8px;
    font-size: 17px;
    width: 180px;
}

.search{
    width: 100px;
    height: 30px;
    right: 2%;
    color: white;
    float: right;
    margin-top: 8px;
    color: white;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

li {
    float: right;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: #111;
}

