body {
    font-family: "Lato", sans-serif;
}

.sidenav {
    height: 100%;
    width: 220px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: white;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    overflow-x: hidden;
}

.sidenav a {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 19px;
    color: white;
    display: block;
    
}


.column:hover{
    color: white;
    transform: scale(1.09); 
}


.sidenav a:hover {
    color: #f1f1f1;
}

.main {
    margin-left: 160px; 
    font-size: 28px; 
    padding: 0px 10px;
    position: fixed;

}

@media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
}
button {
    align-items: flex-start;
    text-align: center;
    cursor: default;
    color: buttontext;
    background-color: buttonface;
    box-sizing: border-box;
    padding: 2px 6px 3px;
    border-width: 2px;
    border-style: outset;
    border-color: buttonface;
    border-image: initial;
    background-color: rgb(69, 27, 9);
    color: white;
}



.button1 {
    background-color:rgb(119, 7, 18); 
    color: black; 
    border: 2px solid rgb(119, 7, 18);
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);

}


.button1:hover {
    border: 0 px solid white;
    background-color: rgb(87, 4, 12);
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    -ms-transform: scale(1.5); /* IE 9 */
    -webkit-transform: scale(1.5); /* Safari 3-8 */
    transform: scale(1.1);

    color: white;
}

.main-panel {
    position: relative;
    float: right;
    width: calc(100% - 260px);
    -webkit-transition: all 0.33s cubic-bezier(0.685, 0.0473, 0.346, 1);
    -moz-transition: all 0.33s cubic-bezier(0.685, 0.0473, 0.346, 1);
    -o-transition: all 0.33s cubic-bezier(0.685, 0.0473, 0.346, 1);
    -ms-transition: all 0.33s cubic-bezier(0.685, 0.0473, 0.346, 1);
    transition: all 0.33s cubic-bezier(0.685, 0.0473, 0.346, 1);
    max-height: 100%;
}

.main-panel>.content {
    margin-top: 70px;
    padding: 30px 15px;
    min-height: calc(100% - 123px);
}

.main-panel>.footer {
    border-top: 1px solid #e7e7e7;
}

.main-panel>.navbar {
    margin-bottom: 0;
}

.btn-group,
.btn-group-vertical {
    position: relative;
    margin: 10px 1px;
}

#navbar {
  overflow: hidden;  
  background-color: #fff!important;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.481), 0 2px 10px 0 rgba(0,0,0,0.12)
}

#navbar a {
  float: right;
  display: block;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

#navbar a:hover {
  background-color: #ddd;
  color: black;
}

#navbar a.active {
  background-color: grey;
  color: white;
}

.content {
  padding: 0px;
}


#navvbar {
    overflow: hidden;  
    background-color: #fff!important;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.481), 0 2px 10px 0 rgba(0,0,0,0.12)
  }
  
  #navvbar a {
    float: right;
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
  .center{
    position: center;


}
  #navvbar a:hover {
      background-color: rgba(60, 16, 0, 0.756);
      color: white;
      -ms-transform: scale(1.5); 
      -webkit-transform: scale(1.05); 
      transform: scale(1.05);
    }


    #navbar {
        margin-top: 1%;
        width: 60%;
        margin-left:20%;
        text-align:center;
        overflow: hidden;
        background-color: #fff!important;
        box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.481), 0 2px 10px 0 rgba(0,0,0,0.12)
      }
      
      #navbar a {
        float: right;
        display: block;
        color: black;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
        font-size: 17px;
        margin-left: 6px; 
      
      
     
    
    
    }
      #navbar a:hover {
          background-color: rgb(128, 10, 22);
          color: white;
          -ms-transform: scale(1.5); 
          -webkit-transform: scale(1.05); 
          transform: scale(1.05);
        }
    

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}

.sticky + .content {
  padding-top: 60px;
}
.column2 {
    float: left;
    width: 33.33%;
}


img {
    /* margin-top: 30px; */
    border-radius: 5px 5px 0 0;
    height: 100%;
}

.container {
    padding: 2px 16px;
    margin-left: 5%;
    margin-right: 8%;
    margin-top: 20px;
}



* {
    box-sizing: border-box;
}
img {
    /* margin-top: 30px; */
    border-radius: 5px 5px 0 0;
    width:60%;
     height:160px;
    }

    .colum {
        float: right;
        width: 33.33%;
        padding: 10px;
        height: 400px;
        font-size: 90%;
        color: black;
        
    }
    
    * {
        box-sizing: border-box;
    }
    
    .column {
        float: left;
        width: 25%;
        padding: 10px;
        margin: 0 10px 0 80px;
        margin-top: 2%;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.789);
        height: 190px;
        opacity: 0.9px;
        background-color: rgba(188, 88, 52, 0.434);
    }
    
.row:after {
    content: "";
    display: table;
    clear: both;
}

@media screen and (max-width: 600px) {
    .column {
        width: 100%;
    }
}
table {
    margin-top: 5%;

    border-collapse: collapse;
}

table, td, th {
    border: 1px solid black;
}
#tablee {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    margin-left: 6%;
    width: 90%;
}

#tablee td, #tablee th {
    border: 1px solid grey;
    padding: 8px;
    background-color: white;
}

#tablee tr:nth-child(even){background-color: white;}

#tablee tr:hover {background-color: white;}

#tablee th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: rgba(188, 88, 52, 0.434);
    color: white;
}
.btn-basic {
    font-size:15px;
    margin-top: 2%;
    height: 29px;
    width: 10%;
    background-color: rgb(119, 7, 18); 
    color: white;
}
.btn-bassic {
    font-size:15px;
    margin-top: 2%;
    height: 29px;
    width: 21%;
    background-color: rgb(119, 7, 18); 
    color: white;
}

 

 

.btn-danger {
    font-size:15px;
    margin-top: 2%;
    height: 25px;
    width: 21%;
    background-color: red;
    color: white;
     
    }

.btn-primary {
    font-size:15px;
    margin-top: 2%;
    height: 25px;
    width: 21%;
    background-color: rgb(28, 28, 182); 
    color: white;
}

.display{
    color:black;
    size: 50px;

    
}

.output{
    margin: auto;
    width: 250px;
    height: 63px;
    size: 500px;
    text-align: center;
    color:black;
    align-content: center;
    border: 1px solid black;
    border-radius: 6px;
    opacity: 0.6;
    border: solid 1px rgb(46, 42, 42);
    background: #FFFFFF;
  }

.hidden{
display:None;

}

h3 {
font-size: 1.5em;
font-size: 15px;
text-transform: uppercase;
}


/*borrowed from w3 schools */
.loader {
    border: 10px solid #f3f3f3;
    border-radius: 45%;
    border-top: 10px solid #0d4c76;
    width: 40px;
    height: 40px;
    margin:auto;
    -webkit-animation: spin 2s linear infinite;
    animation: spin 2s linear infinite;
  }
  
  @-webkit-keyframes spin {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }