body {
  font-family: Arial;
  font-size: 17px;
  padding: 8px;
}

* {
  box-sizing: border-box;
}

.row {
  display: -ms-flexbox; 
  display: flex;
  -ms-flex-wrap: wrap; 
  flex-wrap: wrap;
  margin: 0 -16px;
 padding-top: 10px;


}

.col-25 {
  -ms-flex: 25%; 
  flex: 10%;
}

.col-50 {
  -ms-flex: 50%; 
  flex: 50%;
}

.col-75 {
  -ms-flex: 75%;
  flex: 75%;
}

.col-25,
.col-50,
.col-75 {
  padding: 0 16px;
}

input[type=text] {
  width: 100%;
  margin-bottom: 20px;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 3px;
}

label {
  margin-bottom: 10px;
  display: block;
}

.icon-container {
  margin-bottom: 20px;
  padding: 7px 0;
  font-size: 24px;
}

.btn {
  background-color: rgb(53, 18, 2);
  color: white;
  padding: 12px;
  border: none;
  width: 20%;
  height: 600%;
  border-radius: 3px;
  margin-top: 2%;
  cursor: pointer;
  font-size: 17px;
  margin-left: 38%;
  margin-right: 50%;


}

.btn:hover {
  transform: scale(1.2);
  color:white;

}

a {
  color:white;
}

hr {
  border: 1px solid lightgrey;
}


.btn:hover {
  color: white;
  text-decoration: none;
}
@media (max-width: 800px) {
  .row {
    flex-direction: column-reverse;
  }
  .col-25 {
    margin-bottom: 20px;
  }
}

glyphicon {
  position: relative;
  top: 1px;
  display: inline-block;
  font-family: 'Glyphicons Halflings';
  font-style: normal;
  font-weight: 400;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: white;
}



body {
  background: white;
  background-image: url("../img/food101.jpg");
  background-size: 100% 1000px;;  font-family: "Roboto", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;      
}

.sidenav {
  height: 100%;
  width: 220px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: white;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
  overflow-x: hidden;
}
.column:hover{
  color: white;
  transform: scale(1.1); 
}


.sidenav a {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 19px;
  color: white;
  display: block;
  
}

.sidenav a:hover {
  color: #f1f1f1;
}

.main {
  margin-left: 160px;
  font-size: 28px; 
  padding: 0px 10px;
  position: fixed;

}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 17px;}
}
.button {
  background-color: rgb(119, 7, 18); 
  border: none;
  color: rgb(119, 7, 18);
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 12px;
  margin: 4px 2px;
  -webkit-transition-duration: 0.4s; 
  transition-duration: 0.4s;
  cursor: pointer;
  width: 130px;
  height: 40px;
  margin-left:17%;
  margin-top: 18%;
}


.collapsible {
  background-color: #777;
  color: white;
  cursor: pointer;
  padding: 18px;
  width: 100px;
  height: 30px;
  margin-bottom: 5px;
  margin-top: 10px;
  background-color: rgb(119, 7, 18); 
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
  border: none;
  text-align:left;
  outline: none;
  font-size: 15px;
}

.active, .collapsible:hover {
  background-color: rgb(87, 4, 12);
  color: white;

}

.content {
  display: none;
  overflow: hidden;
  background-color: white;
  width: 400px;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);

}

.main-panel {
  position: relative;
  margin-left:2%;
  width: calc(120% - 260px);
  -webkit-transition: all 0.33s cubic-bezier(0.685, 0.0473, 0.346, 1);
  -moz-transition: all 0.33s cubic-bezier(0.685, 0.0473, 0.346, 1);
  -o-transition: all 0.33s cubic-bezier(0.685, 0.0473, 0.346, 1);
  -ms-transition: all 0.33s cubic-bezier(0.685, 0.0473, 0.346, 1);
  transition: all 0.33s cubic-bezier(0.685, 0.0473, 0.346, 1);
  max-height: 100%;
}

.main-panel>.content {
  margin-top: 70px;
  padding: 30px 15px;
  min-height: calc(100% - 123px);
}

.main-panel>.footer {
  border-top: 1px solid #e7e7e7;
}

.main-panel>.navbar {
  margin-bottom: 0;
}

.btn-group,
.btn-group-vertical {
  position: relative;
  margin: 10px 1px;
}


.center{
  margin-right:31%;
  position: center;


}

* {
box-sizing: border-box;
}

.row {
display: -ms-flexbox;
display: flex;
-ms-flex-wrap: wrap; 
flex-wrap: wrap;
margin: 0 -16px;
}

.col-25 {
-ms-flex: 25%; 
flex: 25%;
}

.col-50 {
-ms-flex: 50%; 
flex: 50%;
}

.col-75 {
-ms-flex: 75%; 
flex: 75%;
}

.col-25,
.col-50,
.col-75 {
padding: 0 16px;
}



input[type=text] {
width: 100%;
margin-bottom: 20px;
padding: 12px;
border: 1px solid #ccc;
border-radius: 3px;
}

label {
margin-bottom: 10px;
display: block;
}

.icon-container {
margin-bottom: 20px;
padding: 7px 0;
font-size: 24px;

}
h2 {
  display: block;
  font-size: 1.5em;
  -webkit-margin-before: 0.83em;
  -webkit-margin-after: 0.83em;
  -webkit-margin-start: 0px;
  -webkit-margin-end: 0px;
  font-weight: bold;
  font-size: 12px;
  word-wrap: break-word;

}

#navbar {
  overflow: hidden;  
  background-color: #fff!important;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.481), 0 2px 10px 0 rgba(0,0,0,0.12)
}

#navbar a {
  float: right;
  display: block;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

#navbar a:hover {
  background-color: rgba(60, 16, 0, 0.756);
  color: black;
}

#navbar a.active {
  background-color: grey;
  color: white;
}

.content {
padding: 0px;
}

.sticky {
position: fixed;
top: 0;
width: 100%;
}
img {
  /* margin-top: 30px; */
  border-radius: 5px 5px 0 0;
  width:60%;
   height:170px;
  }
.sticky + .content {
padding-top: 60px;
}
.column2 {
  float: left;
  width: 33.33%;
}



.container {
  padding: 2px 16px;
  margin-left: 15%;
  margin-right: 8%;
  margin-top: 2px;
  float: center;
  
} 
.collapse {
  padding: 2px 16px;
  margin-left: 8%;
  margin-right: 8%;
  margin-top: 20px;
  width:30%;
}


.colum {
  float: right;
  width: 33.33%;
  padding: 10px;
  height: 400px;
  font-size: 90%;
  color: black;
  
}

* {
  box-sizing: border-box;
}
button {
  align-items: flex-start;
  text-align: center;
  cursor: default;
  color: buttontext;
  background-color: buttonface;
  box-sizing: border-box;
  padding: 2px 6px 3px;
  border-width: 2px;
  border-style: outset;
  border-color: buttonface;
  border-image: initial;
  /* background-color: rgb(69, 27, 9); */
  color: white;
}


.column {
  float: left;
  width: 25%;
  padding: 10px;
  margin: 0 10px 0 80px;
  margin-top: 2%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.789);
  height: 190px;
  opacity: 0.9px;
  background-color: rgba(230, 115, 73, 0.434);
}


.row:after {
  content: "";
  display: table;
  clear: both;
}

@media screen and (max-width: 600px) {
  .column {
      width: 100%;
  }
}

.row:after {
  content: "";
  display: table;
  clear: both;
}


@media screen and (max-width: 600px) {
  .column {
      width: 100%;
  }
}
table {
  margin-top: 5%;

  border-collapse: collapse;
}

table, td, th {
  border: 1px solid black;
}
#tablee {
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  margin:auto;
  width: 38%;
  opacity: 0.9;

}

#tablee td, #tablee th {
  border: 1px solid grey;
  padding: 8px;
  background-color: white;
}

#tablee tr:nth-child(even){background-color: white;}

#tablee tr:hover {background-color: rgba(121, 50, 24, 0.434);}

#tablee th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color:rgba(188, 88, 52, 0.434);
  color: white;
}


.display{
  color:white;
  margin-left: 600px;
  
}

.dialog{
  /* border: 2px solid black; */
  width: 30%;
  height: 20px;
  color: black;
  font-size: 400px;
  background: white;
  border: 2px solid  white;
}
