body {
    margin: 0;
    font-size: 28px;
  }

.colum {
    float: right;
    width: 43.33%;
    height: 210px;
    overflow: hidden;
    font-size: 80%;
    color: black;
    
}
.column:hover{
    color: white;
    transform: scale(1.1); 
}


.column {
    float: left;
    width: 23%;
    padding: 8px;
    margin: 0 10px 0 70px;
    margin-top: 2%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.789);
    height: 170px;
    opacity: 0.9px;
    background-color: white;
}



.row:after {
    content: "";
    display: table;
    clear: both;
}

@media screen and (max-width: 600px) {
    .column {
        width: 100%;
    }
}

.row:after {
    display: table;
    clear: both;
}



  .header {
    background-color: #f1f1f1;
    padding: 30px;
    text-align: center;
  }
  
  #navbar {
    width: 100%;
    overflow: hidden;  
    background-color: #fff!important;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.481), 0 2px 10px 0 rgba(0,0,0,0.12)
  }
  
  #navbar a {
    float: right;
    display: block;
    color: black;
    text-align: center;
    padding: 12px 14px;
    text-decoration: none;
    font-size: 15px;
  }
  #navbar a:hover {
    background-color: rgba(60, 16, 0, 0.756);
    color: black;
  }
  
  #navbar a.active {
    background-color: grey;
    color: white;
  }
  
  .content {
    padding: 0px;
  }
  
  .sticky {
    position: fixed;
    top: 0;
    width: 100%;
  }

  /* .container{
      padding-top: 20px;
      margin-top:20px;
      height: 90%;

      
  }
   */
  .sticky + .content {
    padding-top: 60px;
  }
  h1 {
      display: block;
      font-size: 32px;
      
      font-weight: bold;
      text-align: center;
      font-family: "Times New Roman", Georgia, Serif;
  }
  h2 {
      display: block;
      font-size: 16px;
      -webkit-margin-before: 0.83em;
      -webkit-margin-after: 0.83em;
      -webkit-margin-start: 0px;
      -webkit-margin-end: 0px;
      font-weight: normal;
      font-family: "Times New Roman", Georgia, Serif;
      margin-left: 20%;
  
  }
  .mySlides {display:none;}
  

.centered {
    position: absolute;
    top: 60%;
    left: 24%;
    font-size: 360%;
    color: white;


}

.menu {
    margin-left: 42%;
    font-size: 160%;
    color: black;


}

p {
    display: block;
    text-align: center;
    font-size: 16px;
    margin-left: 20%;
    margin-right: 20%;
    font-family: "Times New Roman", Georgia, Serif;

}
   
  .row:after {
      content: "";
      display: table;
      clear: both;
      width: 100%;

  }
  

  
  .column2 {
      float: left;
      width: 33.33%;
      padding: 5px;
  }
  
  .row2::after {
      justify-content: center;
      clear: both;
      width: 100%;
  
    }

    div {
        display: inherit;    }
  
  
  @media screen and (max-width: 600px) {
      .column {
          width: 100%;
      }
  }
  .bg-1 {
        background:  rgb(21, 19, 19);
        color: #bdbdbd;
    }
    .fa {
    padding: 20px;
    font-size: 30px;
    width: 50px;
    text-align: center;
    text-decoration: none;
    margin: 5px 2px;
  }
  
  .facebook {
    background: #3B5998;
    color: white;
  }


  .output{
    margin: auto;
    width: 250px;
    size: 500px;
    text-align: center;
    color:black;
    align-content: center;
    border: 1px solid black;
    border-radius: 6px;
    opacity: 0.6;
    border: solid 1px rgb(46, 42, 42);
    background: #FFFFFF;
    overflow: hidden
  }
  .hidden{
    display:None;
  
  }

  h3 {
    font-size: 1.5em;
    font-size: 15px;
    text-transform: uppercase;
    margin-left: 20%;
}
  
.loader {
    border: 10px solid #f3f3f3;
    border-radius: 45%;
    border-top: 10px solid #0d4c76;
    width: 40px;
    height: 40px;
    margin:auto;
    -webkit-animation: spin 2s linear infinite;
    animation: spin 2s linear infinite;
  }
  
  @-webkit-keyframes spin {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }



  .meal{
    margin: auto;
    width: 400px;
    overflow: hidden;
    size: 1000px;
    color:black;
    align-content: center;
    border: 1px solid black;
    border-radius: 6px;
    opacity: 0.6;
    border: solid 1px black;
    background: #FFFFFF;
  }

  .hidden{
    display:None;
  
  }

.order{
    margin-left: 20%;
}

.contact{
    border: 2px solid black;
}