/* @media only screen and (max-width: 300px) {body {
    margin: 0;
    font-size: 28px;
  }
  
  .header {
    background-color: #f1f1f1;
    padding: 30px;
    text-align: center;
  }
  
  #navbar {
    overflow: hidden;  
    background-color: #fff!important;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.481), 0 2px 10px 0 rgba(0,0,0,0.12)
  }
  
  #navbar a {
    float: right;
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
  
  #navbar a:hover {
    background-color: #ddd;
    color: black;
  }
  
  #navbar a.active {
    background-color: grey;
    color: white;
  }
  
  .content {
    padding: 0px;
  }
  
  .sticky {
    position: fixed;
    top: 0;
    width: 100%;
  }

  .container{
      padding-top: 20px;
      margin-top:20px;
      height: 90%;

      
  }
  
  .sticky + .content {
    padding-top: 60px;
  }
  h1 {
      display: block;
      font-size: 38px;
      
      font-weight: bold;
      text-align: center;
      font-family: "Times New Roman", Georgia, Serif;
  }
  h2 {
      display: block;
      font-size: 15px;
      -webkit-margin-before: 0.83em;
      -webkit-margin-after: 0.83em;
      -webkit-margin-start: 0px;
      -webkit-margin-end: 0px;
      font-weight: normal;
      font-family: "Times New Roman", Georgia, Serif;
      margin-left: 20%;
  
  }
  .mySlides {display:none;}
  

.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0.8;
    background-color: white;
    width: 50%;
    height: 16%;
    font-size: 300%;


}


  p {
      display: block;
      text-align: center;
      font-size: 20px;
      margin-left: 20%;
      margin-right: 20%;
       font-family: "Times New Roman", Georgia, Serif;
  
  }
  
  * {
      box-sizing: border-box;
  }
  
  .column {
      float: left;
      width: 33.33%;
      padding: 10px;
      height: 300px;
      font-size: 12px;
  }
  
  .row:after {
      content: "";
      display: table;
      clear: both;
  }
  
  .column2 {
      float: left;
      width: 33.33%;
      padding: 5px;
  }
  
  .row2::after {
      content: "";
      clear: both;
      display: table;
  }
  
  @media screen and (max-width: 600px) {
      .column {
          width: 100%;
      }
  }
  .bg-1 {
        background:  rgb(21, 19, 19);
        color: #bdbdbd;
    }
    .fa {
    padding: 20px;
    font-size: 30px;
    width: 50px;
    text-align: center;
    text-decoration: none;
    margin: 5px 2px;
  }
  
  .facebook {
    background: #3B5998;
    color: white;
  }
}
@media only screen and (max-width: 375px) {body {
    margin: 0;
    font-size: 28px;
  }
  
  .header {
    background-color: #f1f1f1;
    padding: 30px;
    text-align: center;
  }
  
  #navbar {
    overflow: hidden;  
    background-color: #fff!important;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.481), 0 2px 10px 0 rgba(0,0,0,0.12)
  }
  
  #navbar a {
    float: right;
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
  
  #navbar a:hover {
    background-color: #ddd;
    color: black;
  }
  
  #navbar a.active {
    background-color: grey;
    color: white;
  }
  
  .content {
    padding: 0px;
  }
  
  .sticky {
    position: fixed;
    top: 0;
    width: 100%;
  }

  .container{
      padding-top: 20px;
      margin-top:20px;
      height: 90%;

      
  }
  
  .sticky + .content {
    padding-top: 60px;
  }
  h1 {
      display: block;
      font-size: 38px;
      
      font-weight: bold;
      text-align: center;
      font-family: "Times New Roman", Georgia, Serif;
  }
  h2 {
      display: block;
      font-size: 15px;
      -webkit-margin-before: 0.83em;
      -webkit-margin-after: 0.83em;
      -webkit-margin-start: 0px;
      -webkit-margin-end: 0px;
      font-weight: normal;
      font-family: "Times New Roman", Georgia, Serif;
      margin-left: 20%;
  
  }
  .mySlides {display:none;}
  

.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0.8;
    background-color: white;
    width: 50%;
    height: 16%;
    font-size: 300%;


}


  p {
      display: block;
      text-align: center;
      font-size: 20px;
      margin-left: 20%;
      margin-right: 20%;
       font-family: "Times New Roman", Georgia, Serif;
  
  }
  
  * {
      box-sizing: border-box;
  }
  
  .column {
      float: left;
      width: 33.33%;
      padding: 10px;
      height: 300px;
      font-size: 12px;
  }
  
  .row:after {
      content: "";
      display: table;
      clear: both;
  }
  
  .column2 {
      float: left;
      width: 33.33%;
      padding: 5px;
  }
  
  .row2::after {
      content: "";
      clear: both;
      display: table;
  }
  
  @media screen and (max-width: 600px) {
      .column {
          width: 100%;
      }
  }
  .bg-1 {
        background:  rgb(21, 19, 19);
        color: #bdbdbd;
    }
    .fa {
    padding: 20px;
    font-size: 30px;
    width: 50px;
    text-align: center;
    text-decoration: none;
    margin: 5px 2px;
  }
  
  .facebook {
    background: #3B5998;
    color: white;
  }
}
@media only screen and (max-width: 414px) {
    body {
        margin: 0;
        font-size: 28px;
      }
      
      .header {
        background-color: #f1f1f1;
        padding: 30px;
        text-align: center;
      }
      
      #navbar {
        overflow: hidden;  
        background-color: #fff!important;
        box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.481), 0 2px 10px 0 rgba(0,0,0,0.12)
      }
      
      #navbar a {
        float: right;
        display: block;
        color: black;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
        font-size: 17px;
      }
      
      #navbar a:hover {
        background-color: #ddd;
        color: black;
      }
      
      #navbar a.active {
        background-color: grey;
        color: white;
      }
      
      .content {
        padding: 0px;
      }
      
      .sticky {
        position: fixed;
        top: 0;
        width: 100%;
      }
    
      .container{
          padding-top: 20px;
          margin-top:20px;
          height: 90%;
    
          
      }
      
      .sticky + .content {
        padding-top: 60px;
      }
      h1 {
          display: block;
          font-size: 38px;
          
          font-weight: bold;
          text-align: center;
          font-family: "Times New Roman", Georgia, Serif;
      }
      h2 {
          display: block;
          font-size: 15px;
          -webkit-margin-before: 0.83em;
          -webkit-margin-after: 0.83em;
          -webkit-margin-start: 0px;
          -webkit-margin-end: 0px;
          font-weight: normal;
          font-family: "Times New Roman", Georgia, Serif;
          margin-left: 20%;
      
      }
      .mySlides {display:none;}
      
    
    .centered {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        opacity: 0.8;
        background-color: white;
        width: 50%;
        height: 16%;
        font-size: 300%;
    
    
    }
    
    
      p {
          display: block;
          text-align: center;
          font-size: 20px;
          margin-left: 20%;
          margin-right: 20%;
           font-family: "Times New Roman", Georgia, Serif;
      
      }
      
      * {
          box-sizing: border-box;
      }
      
      .column {
          float: left;
          width: 33.33%;
          padding: 10px;
          height: 300px;
          font-size: 12px;
      }
      
      .row:after {
          content: "";
          display: table;
          clear: both;
      }
      
      .column2 {
          float: left;
          width: 33.33%;
          padding: 5px;
      }
      
      .row2::after {
          content: "";
          clear: both;
          display: table;
      }
      
      @media screen and (max-width: 600px) {
          .column {
              width: 100%;
          }
      }
      .bg-1 {
            background:  rgb(21, 19, 19);
            color: #bdbdbd;
        }
        .fa {
        padding: 20px;
        font-size: 30px;
        width: 50px;
        text-align: center;
        text-decoration: none;
        margin: 5px 2px;
      }
      
      .facebook {
        background: #3B5998;
        color: white;
      }
    }
@media only screen and (max-width: 411px) {
    body {
        margin: 0;
        font-size: 28px;
      }
      
      .header {
        background-color: #f1f1f1;
        padding: 30px;
        text-align: center;
      }
      
      #navbar {
        overflow: hidden;  
        background-color: #fff!important;
        box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.481), 0 2px 10px 0 rgba(0,0,0,0.12)
      }
      
      #navbar a {
        float: right;
        display: block;
        color: black;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
        font-size: 17px;
      }
      
      #navbar a:hover {
        background-color: #ddd;
        color: black;
      }
      
      #navbar a.active {
        background-color: grey;
        color: white;
      }
      
      .content {
        padding: 0px;
      }
      
      .sticky {
        position: fixed;
        top: 0;
        width: 100%;
      }
    
      .container{
          padding-top: 20px;
          margin-top:20px;
          height: 90%;
    
          
      }
      
      .sticky + .content {
        padding-top: 60px;
      }
      h1 {
          display: block;
          font-size: 38px;
          
          font-weight: bold;
          text-align: center;
          font-family: "Times New Roman", Georgia, Serif;
      }
      h2 {
          display: block;
          font-size: 15px;
          -webkit-margin-before: 0.83em;
          -webkit-margin-after: 0.83em;
          -webkit-margin-start: 0px;
          -webkit-margin-end: 0px;
          font-weight: normal;
          font-family: "Times New Roman", Georgia, Serif;
          margin-left: 20%;
      
      }
      .mySlides {display:none;}
      
    
    .centered {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        opacity: 0.8;
        background-color: white;
        width: 50%;
        height: 16%;
        font-size: 300%;
    
    
    }
    
    
      p {
          display: block;
          text-align: center;
          font-size: 20px;
          margin-left: 20%;
          margin-right: 20%;
           font-family: "Times New Roman", Georgia, Serif;
      
      }
      
      * {
          box-sizing: border-box;
      }
      
      .column {
          float: left;
          width: 33.33%;
          padding: 10px;
          height: 300px;
          font-size: 12px;
      }
      
      .row:after {
          content: "";
          display: table;
          clear: both;
      }
      
      .column2 {
          float: left;
          width: 33.33%;
          padding: 5px;
      }
      
      .row2::after {
          content: "";
          clear: both;
          display: table;
      }
      
      @media screen and (max-width: 600px) {
          .column {
              width: 100%;
          }
      }
      .bg-1 {
            background:  rgb(21, 19, 19);
            color: #bdbdbd;
        }
        .fa {
        padding: 20px;
        font-size: 30px;
        width: 50px;
        text-align: center;
        text-decoration: none;
        margin: 5px 2px;
      }
      
      .facebook {
        background: #3B5998;
        color: white;
      }
    }    
@media only screen and (max-width: 480px) {
    body {
        margin: 0;
        font-size: 28px;
      }
      
      .header {
        background-color: #f1f1f1;
        padding: 30px;
        text-align: center;
      }
      
      #navbar {
        overflow: hidden;  
        background-color: #fff!important;
        box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.481), 0 2px 10px 0 rgba(0,0,0,0.12)
      }
      
      #navbar a {
        float: right;
        display: block;
        color: black;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
        font-size: 17px;
      }
      
      #navbar a:hover {
        background-color: #ddd;
        color: black;
      }
      
      #navbar a.active {
        background-color: grey;
        color: white;
      }
      
      .content {
        padding: 0px;
      }
      
      .sticky {
        position: fixed;
        top: 0;
        width: 100%;
      }
    
      .container{
          padding-top: 20px;
          margin-top:20px;
          height: 90%;
    
          
      }
      
      .sticky + .content {
        padding-top: 60px;
      }
      h1 {
          display: block;
          font-size: 38px;
          
          font-weight: bold;
          text-align: center;
          font-family: "Times New Roman", Georgia, Serif;
      }
      h2 {
          display: block;
          font-size: 15px;
          -webkit-margin-before: 0.83em;
          -webkit-margin-after: 0.83em;
          -webkit-margin-start: 0px;
          -webkit-margin-end: 0px;
          font-weight: normal;
          font-family: "Times New Roman", Georgia, Serif;
          margin-left: 20%;
      
      }
      .mySlides {display:none;}
      
    
    .centered {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        opacity: 0.8;
        background-color: white;
        width: 50%;
        height: 16%;
        font-size: 300%;
    
    
    }
    
    
      p {
          display: block;
          text-align: center;
          font-size: 20px;
          margin-left: 20%;
          margin-right: 20%;
           font-family: "Times New Roman", Georgia, Serif;
      
      }
      
      * {
          box-sizing: border-box;
      }
      
      .column {
          float: left;
          width: 33.33%;
          padding: 10px;
          height: 300px;
          font-size: 12px;
      }
      
      .row:after {
          content: "";
          display: table;
          clear: both;
      }
      
      .column2 {
          float: left;
          width: 33.33%;
          padding: 5px;
      }
      
      .row2::after {
          content: "";
          clear: both;
          display: table;
      }
      
      @media screen and (max-width: 600px) {
          .column {
              width: 100%;
          }
      }
      .bg-1 {
            background:  rgb(21, 19, 19);
            color: #bdbdbd;
        }
        .fa {
        padding: 20px;
        font-size: 30px;
        width: 50px;
        text-align: center;
        text-decoration: none;
        margin: 5px 2px;
      }
      
      .facebook {
        background: #3B5998;
        color: white;
      }
    }    


 */
