.login-page {
  width: 100%;
  padding: 2% 0 0;
  margin: auto;
}
.form {
  position: relative;
  z-index: 1;
  height: 470px;
  width: 385px;
  padding: 20px 10px;
  opacity: 0.6;
  border: solid 1px black;
  background: #FFFFFF;
  margin: 0 auto 100px;
  text-align: center;
  border-radius: 6px;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}

.form input {
  border: solid 1px  rgb(79, 75, 75);

  font-family: "Roboto", sans-serif;
  outline: 0;
  background: #0202024a;
  width: 100%;
  margin: 0 0 15px;
  padding: 15px;
  box-sizing: border-box;
  font-size: 14px;
}
.dropbtn {
  background-color: #4CAF50;
  color: black;
  padding: 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;
}

.dropdown {
  position: relative;
  display: inline-block;
    margin-right: 45px;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}
a:-webkit-any-link {
color: black;
cursor: pointer;
}

.dropdown-content a:hover {background-color: #f1f1f1}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown:hover .dropbtn {
  background-color:rgb(84, 7, 14);
}
.form button {
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
  outline: 0;
  background:  rgb(119, 7, 18);
  width: 100%;
  border: 0;
  padding: 15px;
  margin-right: 20px;
  color: #FFFFFF;
  font-size: 14px;
  -webkit-transition: all 0.3 ease;
  transition: all 0.3 ease;
  cursor: pointer;
}
.form button:hover,.form button:active,.form button:focus {
  background:rgb(36, 3, 5);
}
.form .message {
  margin: 15px 0 0;
  color: #000000d9;
  font-size: 12px;
}
.form .message a {
  color:  rgba(182, 4, 102, 0.713);
  text-decoration: none;
}
.form .register-form {
  display: none;
}
.container {
  position: relative;
  z-index: 1;
  max-width: 300px;
  margin: 0 auto;
  font-size: 28px;
}
.container:before, .container:after {
  content: "";
  display: block;
  clear: both;
}
.container .info {
  margin: 50px auto;
  text-align: center;
}
.container .info h1 {
  margin: 0 0 15px;
  padding: 0;
  font-size: 36px;
  font-weight: 300;
  color: #1a1a1a;
}
.container .info span {
  color: #4d4d4d;
  font-size: 12px;
}
.container .info span a {
  color: #000000;
  text-decoration: none;
}
.container .info span .fa {
  color: #EF3B3A;
}
body {
  background: white;
  background-image: url("../img/food101.jpg");
  background-size: 100% 625px;;  font-family: "Roboto", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;      
}


#navbar {
  overflow: hidden;  
  background-color: #fff!important;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.481), 0 2px 10px 0 rgba(0,0,0,0.12)
}

#navbar a {
  float: right;
  display: block;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

#navbar a:hover {
  background-color: rgba(60, 16, 0, 0.756);
  color: black;
}

#navbar a.active {
  background-color: grey;
  color: white;
}



a:-webkit-any-link {
    color: white;
    cursor: pointer;
    text-decoration: none;

}
