body {
    background: white;
    background-image: url("../img/food25.jpeg");
    background-size: 100% 100px;;  font-family: "Roboto", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;      
  }

.sidenav {
    height: 100%;
    width: 220px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: white;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    overflow-x: hidden;
}

.sidenav a {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 19px;
    color: white;
    display: block;
    
}

.sidenav a:hover {
    color: #f1f1f1;
}

.main {
    margin-left: 160px;
    font-size: 28px; 
    padding: 0px 10px;
    position: fixed;

}

@media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 17px;}
}
.button {
    background-color: rgb(119, 7, 18); 
    border: none;
    color: rgb(119, 7, 18);
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 12px;
    margin: 4px 2px;
    -webkit-transition-duration: 0.4s; 
    transition-duration: 0.4s;
    cursor: pointer;
    width: 130px;
    height: 40px;
    margin-left:17%;
    margin-top: 18%;
}

.button1 {
    background-color:rgb(119, 7, 18); 
    color: black; 
    border: 2px solid rgb(119, 7, 18);
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);

}

.button1:hover {
    border: 0 px solid white;
    background-color: rgb(87, 4, 12);
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    -ms-transform: scale(1.5); 
    -webkit-transform: scale(1.05); 
    transform: scale(1.05);


    color: white;
}

.button2 {
    background-color:grey; 
    color: black; 
    height: 30px;
    border: 2px solid rgba(128, 128, 128, 0.392);
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);

}

.button2:hover {
    border: 2px solid rgba(128, 128, 128, 0.392);
    background-color: grey;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    -ms-transform: scale(1.5); 
    -webkit-transform: scale(1.5); 
    transform: scale(1.1);

    color: white;
}


.button4 {
    background-color:rgb(119, 7, 18); 
    color: black; 
    width: 145px;
    font-size: 12px;
    border: 2px solid rgb(119, 7, 18);
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);

}

.button4:hover {
    border: 0 px solid white;
    background-color: rgb(87, 4, 12);
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    -ms-transform: scale(1.5); 
    -webkit-transform: scale(1.05); 
    transform: scale(1.05);


    color: white;
}
.collapsible {
    background-color: #777;
    color: white;
    cursor: pointer;
    padding: 18px;
    width: 100px;
    height: 30px;
    margin-bottom: 5px;
    margin-top: 10px;
    background-color: rgb(119, 7, 18); 
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    border: none;
    text-align:left;
    outline: none;
    font-size: 15px;
}

.active, .collapsible:hover {
    background-color: rgb(87, 4, 12);
    color: white;

}

.content {
    display: none;
    overflow: hidden;
    background-color: white;
    width: 400px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);

}

.main-panel {
    position: relative;
    margin-left:2%;
    width: calc(120% - 260px);
    -webkit-transition: all 0.33s cubic-bezier(0.685, 0.0473, 0.346, 1);
    -moz-transition: all 0.33s cubic-bezier(0.685, 0.0473, 0.346, 1);
    -o-transition: all 0.33s cubic-bezier(0.685, 0.0473, 0.346, 1);
    -ms-transition: all 0.33s cubic-bezier(0.685, 0.0473, 0.346, 1);
    transition: all 0.33s cubic-bezier(0.685, 0.0473, 0.346, 1);
    max-height: 100%;
}

.main-panel>.content {
    margin-top: 70px;
    padding: 30px 15px;
    min-height: calc(100% - 123px);
}

.main-panel>.footer {
    border-top: 1px solid #e7e7e7;
}

.main-panel>.navbar {
    margin-bottom: 0;
}

.btn-group,
.btn-group-vertical {
    position: relative;
    margin: 10px 1px;
}


.center{
    margin-right:31%;
    position: center;


}

* {
  box-sizing: border-box;
}

.row {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap; 
  flex-wrap: wrap;
  margin: 0 -16px;
}

.col-25 {
  -ms-flex: 25%; 
  flex: 25%;
}

.col-50 {
  -ms-flex: 50%; 
  flex: 50%;
}

.col-75 {
  -ms-flex: 75%; 
  flex: 75%;
}

.col-25,
.col-50,
.col-75 {
  padding: 0 16px;
}



input[type=text] {
  width: 100%;
  margin-bottom: 20px;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 3px;
}

label {
  margin-bottom: 10px;
  display: block;
}

.icon-container {
  margin-bottom: 20px;
  padding: 7px 0;
  font-size: 24px;
  
}
h2 {
    display: block;
    font-size: 1.5em;
    -webkit-margin-before: 0.83em;
    -webkit-margin-after: 0.83em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    font-weight: bold;
    font-size: 12px;
}



  .center{
    margin-right:33%;
    position: center;}
  
  #navbar a:hover {
    background-color: #ddd;
    color: black;
  }
  
  #navbar a.active {
    background-color: grey;
    color: white;
  }

.content {
  padding: 0px;
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}
img {
    /* margin-top: 30px; */
    border-radius: 5px 5px 0 0;
    width:60%;
     height:180px;
    }
.sticky + .content {
  padding-top: 60px;
}
.column2 {
    float: left;
    width: 33.33%;
}



.container {
    padding: 2px 16px;
    margin-left: 5%;
    margin-right: 8%;
    margin-top: 2px;
    float: center;
}
.collapse {
    padding: 2px 16px;
    margin-left: 8%;
    margin-right: 8%;
    margin-top: 20px;
    width:30%;
}


.colum {
    float: right;
    width: 33.33%;
    padding: 10px;
    height: 400px;
    font-size: 90%;
    color: black;
    
}

* {
    box-sizing: border-box;
}
button {
    align-items: flex-start;
    text-align: center;
    cursor: default;
    color: buttontext;
    background-color: buttonface;
    box-sizing: border-box;
    padding: 2px 6px 3px;
    border-width: 2px;
    border-style: outset;
    border-color: buttonface;
    border-image: initial;
    background-color: rgb(119, 7, 18);
    color: white;
}


.column {
    float: left;
    width: 30%;
    padding: 10px;
    margin: 0 0 0 30px;
    margin-top: 2%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.789);
    height: 200px;
    background-color: white;
}

body {
    background: white;
    background-image: url("/home/s4lm4/Desktop/gitapi/FastFoodFast/app/admindashboard/UI_ELEMENTS/images/food25.jpeg");
    background-size: 100% 100px;;  font-family: "Roboto", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;      
  }


.row:after {
    content: "";
    display: table;
    clear: both;
}

@media screen and (max-width: 600px) {
    .column {
        width: 100%;
    }
}

.row:after {
    content: "";
    display: table;
    clear: both;
}


@media screen and (max-width: 600px) {
    .column {
        width: 100%;
    }
}
table {
    margin-top: 5%;
    border-collapse: collapse;
}

table, td, th {
    border: 1px solid black;
}
table {
    margin-top: 5%;
    border-collapse: collapse;
}

table, td, th {
    border: 1px solid black;
}
#tablee {
    margin-left: 15%;
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 300%;
}

#tablee td, #tablee th {
    border: 1px solid #ddd;
    padding: 8px;
    background-color: white;
}

#tablee tr:nth-child(even){background-color: #f2f2f2;}

#tablee tr:hover {background-color: #ddd;}

#tablee th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: rgb(119, 7, 18);
    color: white;
}